<section class="section-property section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Dernières propriétes</h2>
                    </div>
                    <div class="title-link">
                        <a href="property-grid.html">Voir toutes les annonces
                            <span class="bi bi-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="property-carousel" class="swiper">
            <div class="swiper-wrapper">
                {% for prop in propertie %}
                    <div class="carousel-item-b swiper-slide">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="assets/img/property-6.jpg" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="property-single.html">{{prop.StatusType}}
                                            <br /> {{prop.title}}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">{{prop.TypeType}} |{{prop.formattedPrice}} €</span>
                                        </div>
                                        <a href="#" class="link-a">Cliquez ici pour voir
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Surface</h4>
                                                <span>{{prop.surface}}m
                                                    <sup>2</sup>
                                                </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Piéces</h4>
                                                <span>{{prop.rooms}}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Chambres</h4>
                                                <span>{{prop.bedrooms}}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Baths</h4>
                                                <span>4</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Parking</h4>
                                                <span>1 {{prop.parking}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>
    </div>
</section>
